.span1 {
    font-size: 30px;
    font-weight: 500;
    margin-left: 60px;
    margin-top: 20px;
}

.search {
    border-radius: 40px;
    width: 100%;
    height: 50px;
    color: antiquewhite;
}

.image {
    margin-left: 30px;
    margin-top: -10px;
    border-radius: 40px;

}

@media screen and (max-width: 600px) {

    .span1 {
        font-size: 30px;
        font-weight: 500;
        /* margin-right: 60px; */
        /* margin-top: 24px; */
    }

    .search {
        border-radius: 40px;
        width: 100%;
        height: 50px;
        color: antiquewhite;
    }

    .image {
        margin-left: 30px;
        margin-top: -10px;
        border-radius: 40px;


    }
}

#table td {
    cursor: pointer;

}

#table td input {
    cursor: copy;
}



a:hover {
    background-color: whitesmoke;

}

.active {
    background: wheat;
}

.nav-link {
    font-size: 23px;
    font-weight: 400;
    color: aquamarine;
}

.text {
    font-size: 20px;
}

.nav a i {
    color: black;
}